.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    }
    .second, .first{
      margin: 10px;
      padding: 25px;
      font-size: 25px;
      font-weight: bold;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 1, 0, 4);
    }
    .second:hover{
        background-color:rgb(22, 85, 167);
    }
    .first:hover{
        background-color: rgb(22, 85, 167);
    }